
h1{
	justify-content: center;
	display: flex;
}

.escolha{
	justify-content: center;
	display: flex;
	gap: 10px; 
}

label{
	font-size: 20px;
}

button{
	background-color: black;
	width: 130px;
	height: 30px;
	color: whitesmoke;
	border: 1px solid #c1c1c1;

}

img{
	width: 200px;
}

#corinthians{
	backg
}