
h1{
	justify-content: center;
	display: flex;
}

.escolha{
	justify-content: center;
	display: flex;
	gap: 30px; 
}

label{
	font-size: 20px;
}

button{
	background-color: black;
	width: 130px;
	height: 30px;
	color: whitesmoke;
	border: 1px solid #c1c1c1;

}

.palmeiras{
	display: flex;
	flex-direction: column;
}

.corinthians{
	display: flex;
	flex-direction: column;

}

.saopaulo{
	display: flex;
	flex-direction: column;

}

.boca{
	display: flex;
	flex-direction: column;

}
.corinthians img{
	width: 80px;
}

.boca img{
	width: 100px;
}

.saopaulo img{
	width: 100px;
}
.palmeiras img{
	width: 100px;
}

#corinthians{
	backg
}